/*  自定义样式  */
.left{
	float: left;
}
.right{
	float: right;
}

.list-group-item{
	margin: 0 2px 0 2px;
}

.font-indentation{
	text-indent: 20px;
}
.faIconSize{
	font-size: 17px;
}
.ui-jqgrid-bdiv{
	overflow: scroll;  
}
[class^="icon-"], [class*=" icon-"] {
	font-size: 16px;
}
div.pq-grid-footer.pq-pager{
	text-align: center;
}
div.ui-icon pq-icon ui-icon ui-icon-triangle-1-s{
	margin-top:0.5em;
}
.selectStaff tr td{
	border:4px solid white;
}
.dialog-model{
	display: none;
}
.pq-ui-button.ui-widget-header{
	padding: 0 10px;
}

.searchDiv{
	margin: 5px;
}


