<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hotel.mapper.StaffMapper">
<cache type="org.mybatis.caches.ehcache.LoggingEhcache"> 
    <property name="timeToIdleSeconds" value="3600" /><!--1 hour-->
    <property name="timeToLiveSeconds" value="3600" /><!--1 hour-->
    <property name="maxEntriesLocalHeap" value="1000" />
    <property name="maxEntriesLocalDisk" value="10000000" />
    <property name="memoryStoreEvictionPolicy" value="LRU" />
    </cache>
  <resultMap id="BaseResultMap" type="org.hotel.model.Staff">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="staff_no" jdbcType="VARCHAR" property="staffNo" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="card_id" jdbcType="VARCHAR" property="cardId" />
    <result column="staff_card_no" jdbcType="VARCHAR" property="staffCardNo" />
    <result column="into_time" jdbcType="TIMESTAMP" property="intoTime" />
    <result column="telphone" jdbcType="VARCHAR" property="telphone" />
    <result column="staff_address" jdbcType="VARCHAR" property="staffAddress" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="year_rest_day" jdbcType="DECIMAL" property="yearRestDay" />
    <result column="keep_rest_day" jdbcType="DECIMAL" property="keepRestDay" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_user" jdbcType="VARCHAR" property="modifyUser" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="staff_status" jdbcType="VARCHAR" property="staffStatus" />
    <result column="quit_time" jdbcType="TIMESTAMP" property="quitTime" />
    <result column="quit_check_id" jdbcType="VARCHAR" property="quitCheckId" />
    <result column="quit_check_name" jdbcType="VARCHAR" property="quitCheckName" />
    <result column="quit_desc" jdbcType="VARCHAR" property="quitDesc" />
    <result column="quit_memo" jdbcType="VARCHAR" property="quitMemo" />
    <result column="orther_memo" jdbcType="VARCHAR" property="ortherMemo" />
     <result column="face_temp" jdbcType="LONGVARBINARY" property="faceTemp" />
    <result column="finger_temp1" jdbcType="LONGVARBINARY" property="fingerTemp1" />
    <result column="finger_temp2" jdbcType="LONGVARBINARY" property="fingerTemp2" />
    <result column="finger_temp3" jdbcType="LONGVARBINARY" property="fingerTemp3" />
    <result column="finger_temp4" jdbcType="LONGVARBINARY" property="fingerTemp4" />
    <result column="finger_temp5" jdbcType="LONGVARBINARY" property="fingerTemp5" />
    <result column="finger_temp6" jdbcType="LONGVARBINARY" property="fingerTemp6" />
    <result column="finger_temp7" jdbcType="LONGVARBINARY" property="fingerTemp7" />
    <result column="finger_temp8" jdbcType="LONGVARBINARY" property="fingerTemp8" />
    <result column="finger_temp9" jdbcType="LONGVARBINARY" property="fingerTemp9" />
    <result column="finger_temp0" jdbcType="LONGVARBINARY" property="fingerTemp0" />
  </resultMap>
  <sql id="Base_Column_List">
    staff.id, staff.staff_no, staff.staff_name, staff.org_id, staff.org_name, staff.parent_id, staff.sex, staff.card_id, staff.staff_card_no, 
    staff.into_time, staff.telphone, staff.staff_address, staff.email, staff.birthday, staff.year_rest_day, staff.keep_rest_day, 
    staff.create_user, staff.create_time, staff.modify_user, staff.modify_time, staff.del_flag, staff.staff_status, staff.quit_time, 
   staff.quit_check_id, staff.quit_check_name, staff.quit_desc, staff.quit_memo, staff.orther_memo
  </sql>
  <sql id="Blob_Column_List">
    face_temp, finger_temp1, finger_temp2, finger_temp3, finger_temp4, finger_temp5, 
    finger_temp6, finger_temp7, finger_temp8, finger_temp9, finger_temp0
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from staff
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from staff
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.hotel.model.Staff">
    insert into staff (id, staff_no, staff_name, 
      org_id, org_name, parent_id, 
      sex, card_id, staff_card_no, 
      into_time, telphone, staff_address, 
      email, birthday, year_rest_day, 
      keep_rest_day, create_user, create_time, 
      modify_user, modify_time, del_flag, 
      staff_status, quit_time, quit_check_id, 
      quit_check_name, quit_desc, quit_memo, 
      orther_memo, face_temp, finger_temp1, 
      finger_temp2, finger_temp3, finger_temp4, 
      finger_temp5, finger_temp6, finger_temp7, 
      finger_temp8, finger_temp9, finger_temp0
      )
    values (#{id,jdbcType=VARCHAR}, #{staffNo,jdbcType=VARCHAR}, #{staffName,jdbcType=VARCHAR}, 
      #{orgId,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{cardId,jdbcType=VARCHAR}, #{staffCardNo,jdbcType=VARCHAR}, 
      #{intoTime,jdbcType=TIMESTAMP}, #{telphone,jdbcType=VARCHAR}, #{staffAddress,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, #{yearRestDay,jdbcType=DECIMAL}, 
      #{keepRestDay,jdbcType=DECIMAL}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyUser,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=TINYINT}, 
      #{staffStatus,jdbcType=VARCHAR}, #{quitTime,jdbcType=TIMESTAMP}, #{quitCheckId,jdbcType=VARCHAR}, 
      #{quitCheckName,jdbcType=VARCHAR}, #{quitDesc,jdbcType=VARCHAR}, #{quitMemo,jdbcType=VARCHAR}, 
      #{ortherMemo,jdbcType=VARCHAR}, #{faceTemp,jdbcType=LONGVARBINARY}, #{fingerTemp1,jdbcType=LONGVARBINARY}, 
      #{fingerTemp2,jdbcType=LONGVARBINARY}, #{fingerTemp3,jdbcType=LONGVARBINARY}, #{fingerTemp4,jdbcType=LONGVARBINARY}, 
      #{fingerTemp5,jdbcType=LONGVARBINARY}, #{fingerTemp6,jdbcType=LONGVARBINARY}, #{fingerTemp7,jdbcType=LONGVARBINARY}, 
      #{fingerTemp8,jdbcType=LONGVARBINARY}, #{fingerTemp9,jdbcType=LONGVARBINARY}, #{fingerTemp0,jdbcType=LONGVARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.hotel.model.Staff">
    insert into staff
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="staffNo != null">
        staff_no,
      </if>
      <if test="staffName != null">
        staff_name,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="orgName != null">
        org_name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="cardId != null">
        card_id,
      </if>
      <if test="staffCardNo != null">
        staff_card_no,
      </if>
      <if test="intoTime != null">
        into_time,
      </if>
      <if test="telphone != null">
        telphone,
      </if>
      <if test="staffAddress != null">
        staff_address,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="yearRestDay != null">
        year_rest_day,
      </if>
      <if test="keepRestDay != null">
        keep_rest_day,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyUser != null">
        modify_user,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="staffStatus != null">
        staff_status,
      </if>
      <if test="quitTime != null">
        quit_time,
      </if>
      <if test="quitCheckId != null">
        quit_check_id,
      </if>
      <if test="quitCheckName != null">
        quit_check_name,
      </if>
      <if test="quitDesc != null">
        quit_desc,
      </if>
      <if test="quitMemo != null">
        quit_memo,
      </if>
      <if test="ortherMemo != null">
        orther_memo,
      </if>
      <if test="faceTemp != null">
        face_temp,
      </if>
      <if test="fingerTemp1 != null">
        finger_temp1,
      </if>
      <if test="fingerTemp2 != null">
        finger_temp2,
      </if>
      <if test="fingerTemp3 != null">
        finger_temp3,
      </if>
      <if test="fingerTemp4 != null">
        finger_temp4,
      </if>
      <if test="fingerTemp5 != null">
        finger_temp5,
      </if>
      <if test="fingerTemp6 != null">
        finger_temp6,
      </if>
      <if test="fingerTemp7 != null">
        finger_temp7,
      </if>
      <if test="fingerTemp8 != null">
        finger_temp8,
      </if>
      <if test="fingerTemp9 != null">
        finger_temp9,
      </if>
      <if test="fingerTemp0 != null">
        finger_temp0,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="staffNo != null">
        #{staffNo,jdbcType=VARCHAR},
      </if>
      <if test="staffName != null">
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="cardId != null">
        #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="staffCardNo != null">
        #{staffCardNo,jdbcType=VARCHAR},
      </if>
      <if test="intoTime != null">
        #{intoTime,jdbcType=TIMESTAMP},
      </if>
      <if test="telphone != null">
        #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="staffAddress != null">
        #{staffAddress,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="yearRestDay != null">
        #{yearRestDay,jdbcType=DECIMAL},
      </if>
      <if test="keepRestDay != null">
        #{keepRestDay,jdbcType=DECIMAL},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="staffStatus != null">
        #{staffStatus,jdbcType=VARCHAR},
      </if>
      <if test="quitTime != null">
        #{quitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="quitCheckId != null">
        #{quitCheckId,jdbcType=VARCHAR},
      </if>
      <if test="quitCheckName != null">
        #{quitCheckName,jdbcType=VARCHAR},
      </if>
      <if test="quitDesc != null">
        #{quitDesc,jdbcType=VARCHAR},
      </if>
      <if test="quitMemo != null">
        #{quitMemo,jdbcType=VARCHAR},
      </if>
      <if test="ortherMemo != null">
        #{ortherMemo,jdbcType=VARCHAR},
      </if>
      <if test="faceTemp != null">
        #{faceTemp,jdbcType=LONGVARBINARY},
      </if>
      <if test="fingerTemp1 != null">
        #{fingerTemp1,jdbcType=LONGVARBINARY},
      </if>
      <if test="fingerTemp2 != null">
        #{fingerTemp2,jdbcType=LONGVARBINARY},
      </if>
      <if test="fingerTemp3 != null">
        #{fingerTemp3,jdbcType=LONGVARBINARY},
      </if>
      <if test="fingerTemp4 != null">
        #{fingerTemp4,jdbcType=LONGVARBINARY},
      </if>
      <if test="fingerTemp5 != null">
        #{fingerTemp5,jdbcType=LONGVARBINARY},
      </if>
      <if test="fingerTemp6 != null">
        #{fingerTemp6,jdbcType=LONGVARBINARY},
      </if>
      <if test="fingerTemp7 != null">
        #{fingerTemp7,jdbcType=LONGVARBINARY},
      </if>
      <if test="fingerTemp8 != null">
        #{fingerTemp8,jdbcType=LONGVARBINARY},
      </if>
      <if test="fingerTemp9 != null">
        #{fingerTemp9,jdbcType=LONGVARBINARY},
      </if>
      <if test="fingerTemp0 != null">
        #{fingerTemp0,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.hotel.model.Staff">
    update staff
    <set>
      <if test="staffNo != null">
        staff_no = #{staffNo,jdbcType=VARCHAR},
      </if>
      <if test="staffName != null">
        staff_name = #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="cardId != null">
        card_id = #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="staffCardNo != null">
        staff_card_no = #{staffCardNo,jdbcType=VARCHAR},
      </if>
      <if test="intoTime != null">
        into_time = #{intoTime,jdbcType=TIMESTAMP},
      </if>
      <if test="telphone != null">
        telphone = #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="staffAddress != null">
        staff_address = #{staffAddress,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="yearRestDay != null">
        year_rest_day = #{yearRestDay,jdbcType=DECIMAL},
      </if>
      <if test="keepRestDay != null">
        keep_rest_day = #{keepRestDay,jdbcType=DECIMAL},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        modify_user = #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="staffStatus != null">
        staff_status = #{staffStatus,jdbcType=VARCHAR},
      </if>
      <if test="quitTime != null">
        quit_time = #{quitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="quitCheckId != null">
        quit_check_id = #{quitCheckId,jdbcType=VARCHAR},
      </if>
      <if test="quitCheckName != null">
        quit_check_name = #{quitCheckName,jdbcType=VARCHAR},
      </if>
      <if test="quitDesc != null">
        quit_desc = #{quitDesc,jdbcType=VARCHAR},
      </if>
      <if test="quitMemo != null">
        quit_memo = #{quitMemo,jdbcType=VARCHAR},
      </if>
      <if test="ortherMemo != null">
        orther_memo = #{ortherMemo,jdbcType=VARCHAR},
      </if>
      <if test="faceTemp != null">
        face_temp = #{faceTemp,jdbcType=LONGVARBINARY},
      </if>
      <if test="fingerTemp1 != null">
        finger_temp1 = #{fingerTemp1,jdbcType=LONGVARBINARY},
      </if>
      <if test="fingerTemp2 != null">
        finger_temp2 = #{fingerTemp2,jdbcType=LONGVARBINARY},
      </if>
      <if test="fingerTemp3 != null">
        finger_temp3 = #{fingerTemp3,jdbcType=LONGVARBINARY},
      </if>
      <if test="fingerTemp4 != null">
        finger_temp4 = #{fingerTemp4,jdbcType=LONGVARBINARY},
      </if>
      <if test="fingerTemp5 != null">
        finger_temp5 = #{fingerTemp5,jdbcType=LONGVARBINARY},
      </if>
      <if test="fingerTemp6 != null">
        finger_temp6 = #{fingerTemp6,jdbcType=LONGVARBINARY},
      </if>
      <if test="fingerTemp7 != null">
        finger_temp7 = #{fingerTemp7,jdbcType=LONGVARBINARY},
      </if>
      <if test="fingerTemp8 != null">
        finger_temp8 = #{fingerTemp8,jdbcType=LONGVARBINARY},
      </if>
      <if test="fingerTemp9 != null">
        finger_temp9 = #{fingerTemp9,jdbcType=LONGVARBINARY},
      </if>
      <if test="fingerTemp0 != null">
        finger_temp0 = #{fingerTemp0,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.hotel.model.Staff">
    update staff
    set staff_no = #{staffNo,jdbcType=VARCHAR},
      staff_name = #{staffName,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=VARCHAR},
      org_name = #{orgName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      card_id = #{cardId,jdbcType=VARCHAR},
      staff_card_no = #{staffCardNo,jdbcType=VARCHAR},
      into_time = #{intoTime,jdbcType=TIMESTAMP},
      telphone = #{telphone,jdbcType=VARCHAR},
      staff_address = #{staffAddress,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      year_rest_day = #{yearRestDay,jdbcType=DECIMAL},
      keep_rest_day = #{keepRestDay,jdbcType=DECIMAL},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=TINYINT},
      staff_status = #{staffStatus,jdbcType=VARCHAR},
      quit_time = #{quitTime,jdbcType=TIMESTAMP},
      quit_check_id = #{quitCheckId,jdbcType=VARCHAR},
      quit_check_name = #{quitCheckName,jdbcType=VARCHAR},
      quit_desc = #{quitDesc,jdbcType=VARCHAR},
      quit_memo = #{quitMemo,jdbcType=VARCHAR},
      orther_memo = #{ortherMemo,jdbcType=VARCHAR},
      face_temp = #{faceTemp,jdbcType=LONGVARBINARY},
      finger_temp1 = #{fingerTemp1,jdbcType=LONGVARBINARY},
      finger_temp2 = #{fingerTemp2,jdbcType=LONGVARBINARY},
      finger_temp3 = #{fingerTemp3,jdbcType=LONGVARBINARY},
      finger_temp4 = #{fingerTemp4,jdbcType=LONGVARBINARY},
      finger_temp5 = #{fingerTemp5,jdbcType=LONGVARBINARY},
      finger_temp6 = #{fingerTemp6,jdbcType=LONGVARBINARY},
      finger_temp7 = #{fingerTemp7,jdbcType=LONGVARBINARY},
      finger_temp8 = #{fingerTemp8,jdbcType=LONGVARBINARY},
      finger_temp9 = #{fingerTemp9,jdbcType=LONGVARBINARY},
      finger_temp0 = #{fingerTemp0,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.hotel.model.Staff">
    update staff
    set staff_no = #{staffNo,jdbcType=VARCHAR},
      staff_name = #{staffName,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=VARCHAR},
      org_name = #{orgName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      card_id = #{cardId,jdbcType=VARCHAR},
      staff_card_no = #{staffCardNo,jdbcType=VARCHAR},
      into_time = #{intoTime,jdbcType=TIMESTAMP},
      telphone = #{telphone,jdbcType=VARCHAR},
      staff_address = #{staffAddress,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      year_rest_day = #{yearRestDay,jdbcType=DECIMAL},
      keep_rest_day = #{keepRestDay,jdbcType=DECIMAL},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=TINYINT},
      staff_status = #{staffStatus,jdbcType=VARCHAR},
      quit_time = #{quitTime,jdbcType=TIMESTAMP},
      quit_check_id = #{quitCheckId,jdbcType=VARCHAR},
      quit_check_name = #{quitCheckName,jdbcType=VARCHAR},
      quit_desc = #{quitDesc,jdbcType=VARCHAR},
      quit_memo = #{quitMemo,jdbcType=VARCHAR},
      orther_memo = #{ortherMemo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

	
 <select id="findAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from staff
    where del_flag=0
  </select>
  
  <select id="findStaffsByOrgId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from staff
    where del_flag=0 and  org_id = #{OrgId,jdbcType=VARCHAR}
  </select>
  
  
  <select id="findStaffByOrgs" parameterType="java.util.List" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from staff
    where del_flag=0
    and org_id in 
    <foreach close=")" collection="orgs" index="" item="item" open="(" separator=",">  
     	 #{item.id, jdbcType=VARCHAR}  
    </foreach> 
    <if test="null != status">
    	and staff_status = #{status,jdbcType=VARCHAR}
    </if>
  </select>
  
  
   <select id="findStaffAndMac" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />,org_mac.mac as mac
    from staff,org_mac
    where staff.del_flag=0 and staff.org_id=org_mac.org_id
    <if test="null != status">
    	and staff.staff_status = #{status,jdbcType=VARCHAR}
    </if>
    <if test="null != mac">
    	and org_mac.mac = #{mac,jdbcType=VARCHAR}
    </if>
  </select>
  
   <select id="findStaffAndMacByNoOrName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />,org_mac.mac as mac
    from staff,org_mac
    where staff.del_flag=0 and staff.org_id=org_mac.org_id
    <if test="null != no">
    	and staff.staff_no = #{no,jdbcType=VARCHAR}
    </if>
    <if test="null != name and ''!=name">
    	and staff.staff_name = #{name,jdbcType=VARCHAR}
    </if>
    <if test="null != mac">
    	and org_mac.mac = #{mac,jdbcType=VARCHAR}
    </if>
  </select>
  
   <select id="findStaffByLikes" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from staff
    where staff.del_flag=0
    <if test="null != orgIds and orgIds.size>0">
    	 and org_id in 
	    <foreach close=")" collection="orgIds" index="" item="item" open="(" separator=",">  
	     	 #{item.id, jdbcType=VARCHAR}  
	    </foreach> 
    </if>
    <if test="null != staffId and staffId.length>0">
    	 and id in 
	    <foreach close=")" collection="staffId" index="" item="item" open="(" separator=",">  
	     	 #{item, jdbcType=VARCHAR}  
	    </foreach> 
    </if>
    <if test="null !=startTime and null == endTime and 'WORKING'==status">
    	and into_time <![CDATA[ >= ]]> #{startTime}
    </if>
    <if test="null ==startTime and null != endTime and 'WORKING'==status">
    	and into_time <![CDATA[ <= ]]> #{endTime}
    </if>
    <if test="null !=startTime and ''!= endTime and 'WORKING'==status">
    	and into_time between #{startTime} and #{endTime}
    </if>
    <if test="null !=startTime and null == endTime and 'QUITED'==status">
    	and quit_time <![CDATA[ >= ]]> #{startTime}
    </if>
    <if test="null ==startTime and null != endTime and 'QUITED'==status">
    	and quit_time <![CDATA[ <= ]]> #{endTime}
    </if>
    <if test="null !=startTime and ''!= endTime and 'QUITED'==status">
    	and quit_time between #{startTime} and #{endTime}
    </if>
  </select>
</mapper>