<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.2.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">

    <!-- 自定义一个realm校验  -->
    <bean id="userRealm" class="org.hotel.shiro.UserRealm" />

    <!-- sessionManager管理器 , 使用Ehcache实现 -->
	<bean id="shiroCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">  
	    <property name="cacheManagerConfigFile" value="classpath:config/ehcache.xml"/>  
	</bean> 
	
	<bean id="cacheManagerFactory"   class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">  
        <property name="configLocation" value="classpath:config/ehcache.xml" />  
        <property name="shared" value="true"></property> <!-- 这里是关键！！！没有必错  -->  
    </bean> 
    
    <!-- 声明cacheManager -->  
	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager" p:cacheManager-ref="cacheManagerFactory" ></bean>  

	<!-- 
	会话ID生成器 
	<bean id="sessionIdGenerator" class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator"/>  
	会话DAO  
	<bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO">  
	    <property name="activeSessionsCacheName" value="shiro-activeSessionCache"/>  
	    <property name="sessionIdGenerator" ref="sessionIdGenerator"/>  
	</bean>  
	会话验证调度器  
	<bean id="sessionValidationScheduler" class="org.apache.shiro.session.mgt.quartz.QuartzSessionValidationScheduler">  
	    <property name="sessionValidationInterval" value="1800000"/>  
	    <property name="sessionManager" ref="sessionManager"/>  
	</bean>  
	会话管理器  
	<bean id="sessionManager" class="org.apache.shiro.session.mgt.DefaultSessionManager">  
	    <property name="globalSessionTimeout" value="1800000"/>  
	    <property name="deleteInvalidSessions" value="true"/>  
	    <property name="sessionValidationSchedulerEnabled" value="false"/>  
	    <property name="sessionValidationScheduler" ref="sessionValidationScheduler"/>  
	    <property name="sessionDAO" ref="sessionDAO"/>  
	    <property name="sessionIdCookieEnabled" value="true"/>  
   		<property name="sessionIdCookie" ref="rememberMeCookie"/> 
   		<property name="rememberMeManager" ref="rememberMeManager"/> 
	</bean>  
 -->



    <!-- rememberMeManager管理器 -->
    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cookie" ref="rememberMeCookie" />
    </bean>

    <!-- rememberMeCookie管理器 -->
    <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="rememberMe" />
        <property name="maxAge" value="-1" />
        <!-- cookie 有效时间30天  -->
        <!-- <property name="maxAge" value="2592000" /> -->
        <property name="httpOnly" value="true"/>
    </bean>
    <!-- securityManager管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="cacheManager" ref="shiroCacheManager" /> 
        <property name="realm" ref="userRealm" />
        <property name="rememberMeManager" ref="rememberMeManager" /> 
        <!-- <property name="sessionManager" ref="sessionManager"/>  --> 
    </bean>

    <!-- 具体的 路径拦截器，登录验证路径在这里拦截 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager" />
        <property name="loginUrl" value="/login/index" />
        <property name="successUrl" value="/home/index" />
        <!-- 未通过验证返回首页  -->
        <property name="unauthorizedUrl" value="/"/>
    	<property name="filters"> 
    		<map>
    			<entry key="authc">
    				<bean class="org.hotel.shiro.ShiroFormFilter" />
    			</entry>
    		</map> 
        </property>
        <property name="filterChainDefinitions">
            <value>
                /plugins/**  = anon 
                /public/** = anon
                /css/**  = anon 
                /login/** = anon 
                /admin/shiro/unauthorized/*=anon<!-- webservice 接口 -->
                /logout = logout <!-- 退出操作 -->
                
                /** = authc,user <!--已经登录验证通过或者通过rememberMe  -->
            </value>
        </property>
    </bean>

    <!-- 开启注解功能，验证失败， 其会抛出 UnauthorizedException异常， 此时可以使用 Spring的 ExceptionHandler处理-->
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager" />
    </bean>

    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
    
</beans>
